@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;400;600;700;800;900&display=swap");

* {
  font-family: "Inter", sans-serif;
  font-style: normal;
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  display: block;
  position: relative;
  min-height: 100%;
  max-width: 1200px;
  margin: 0 auto;
}

ul {
  list-style-type: none;
  display: inline-flex;
  margin-bottom: 0;
  padding-left: 0;
}

a {
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

button {
  cursor: pointer;
  background: none;
  border: 0;
}

.active button {
  background: #46a358;
  border: 0;
  color: white;
}
