.swiper {
  height: 450px;
  background: linear-gradient(
    97.77deg,
    rgba(245, 245, 245, 0.5) -23.46%,
    rgba(245, 245, 245, 0.5) 107.51%
  );
  margin-top: 12px;
}

.slider {
  display: flex;
  justify-content: space-between;
}

.text {
  padding: 68px 0 0 43px;
}

.title {
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: #3d3d3d;
  padding-bottom: 7px;
}

.main {
  font-weight: 900;
  font-size: 70px;
  line-height: 70px;
  text-transform: uppercase;
  color: #3d3d3d;
  padding-bottom: 5px;
}

.main span {
  color: rgba(70, 163, 88, 1);
}

.bottom {
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  color: #727272;
  padding-bottom: 44px;
}

.slider button {
  width: 140px;
  height: 40px;
  background: #46a358;
  border-radius: 6px;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  color: #ffffff;
}

.slider img {
  width: auto;
  height: auto;
}
