.header {
  max-width: 1200px;
  margin: 0 auto;
  height: 60px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 0.3px solid rgba(70, 163, 88, 0.5);
}

.nav {
  width: 351px;
  display: flex;
  justify-content: space-between;
}

.nav a {
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  height: 58px;
  align-items: center;
  display: flex;
}

.header .active ,.menu .active {
  font-weight: 700;
  color: #3d3d3d;
  border-bottom: 3px solid #46a358;
}

.nav a:hover {
  font-weight: 700;
  color: #3d3d3d;
  border-bottom: 3px solid #46a358;
  transition: all 0.1s;
}

.logout {
  padding: 7px 17px;
  background: #46a358;
  border-radius: 6px;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  color: #ffffff;
}

.logout img {
  margin-right: 4px;
}

.burger {
  display: none;
  flex-direction: column;
  justify-content: space-around;
  width: 30px;
  height: 20px;
  position: relative;
  cursor: pointer;
  z-index: 2;
}

.menu {
  position: absolute;
  right: 0;
  top: 0;
  background: rgba(70, 163, 88, 0.3);
  height: 100vh;
  z-index: 1;
  padding-top: 50px;
}

.menu ul {
  display: block;
  width: 150px;
}

.menu li {
  text-align: center;
  padding-bottom: 15px;
}

.menu a {
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
}

@media (max-width: 1200px) {
  .header {
    padding: 0 15px;
  }
}

@media (max-width: 1000px) {
  .burger {
    display: flex;
  }
  .header {
    height: 50px;
  }
  .nav,
  .session {
    display: none;
  }
  .logo {
    width: 120px;
  }
}
